@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro2.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunDotum/BareunDotumOTFPro2.woff') format('woff');
}

div,input,button,li{
	font-family: 'BareunDotum', sans-serif;
}

.fonted{
	font-family: 'BareunDotum', sans-serif;
}

#head{
	background: #00000000;
}

#titlemargin{
	height: 25px;
	background: #FFFFFF;
}